<div class="container" style="height: 400px; margin-top: 100px;">
    <div class="row">
        <div class="col-sm-4"><b>Founed by:</b></div>
        <div class="col-sm-4">Jitendra Kumar Sah</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><b>Founded in:</b></div>
        <div class="col-sm-4">2026</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><b>Website:</b></div>
        <div class="col-sm-4">
            <a href="#" target="_blank">View website</a>
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-4"><b>Industry:</b></div>
        <div class="col-sm-4">Supply chain</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><b>Shop size:</b></div>
        <div class="col-sm-4">10 employees</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><b>Headquater:</b></div>
        <div class="col-sm-4">New Delhi, India</div>
    </div>
    <div class="row">
        <div class="col-sm-4"><b>About Shop:</b></div>
<div class="col-sm-4">This shop supply laptops to distributors with different varieties</div>                   
    </div>  
</div>
